 @import "tailwindcss";

:root {
  --background: #F5F5EE;
  --foreground: #F5F5EE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-orange: #FF611C;
  --color-primary-yellow: #FBC80B;
  --color-secondary-green: #02B49A;
  --color-secondary-red: #FF473F;
  --font-sans: var(--font-rethink-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5EE;
    --foreground: #F5F5EE;
  }
}

body {
  background: var(--background);
  color: #000000;
  overflow-x: hidden;
}

p:hover,
small:hover,
label:hover {
  cursor: default;
}

.custom-container {
  @apply max-w-[1550px] px-5 mx-auto;
}

.button-primary-orange {
  @apply bg-primary-orange border border-primary-orange text-white rounded-full hover:scale-105 transition-all ease-in-out duration-300;
}

.button-outline-orange {
  @apply bg-transparent border border-primary-orange rounded-full hover:scale-105 transition-all ease-in-out duration-300;
}

.nav-link {
  @apply  transition-all ease-in-out duration-300 hover:text-primary-orange hover:font-semibold;
}

.container__slider {
  position: relative;
  width: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: transparent;
}

/* .container__slider > button {
  background-color: white;
  outline: none;
  border: 0;
  color: red;
  font-size: 24px;
} */
/* 
.container__slider > button:active {
  color: black;
} */

.slider__btn-next {
  @apply bg-white h-12 w-12 absolute -right-[2%] shadow-sm top-1/2 flex items-center justify-center rounded-full text-2xl;
}

.slider__btn-prev {
  @apply bg-white h-12 w-12 absolute -left-[2%] shadow-sm top-1/2 flex items-center justify-center rounded-full text-2xl;
}

.container__slider__links {
  @apply absolute left-1/2 bottom-10 md:-bottom-12 lg:-bottom-10 -translate-x-1/2; 
}

.container__slider__links-small {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: #e8e8e8;
  transition: background-color 1s ease;
  margin: 0 6px;
}

.container__slider__links-small-active {
  @apply bg-secondary-red;
}

.slider__item {
  box-sizing: border-box;
  min-width: 100%;
  height: 400px;
  overflow: hidden;
  object-fit: cover;
  transform: translateX(0);
  transition: transform 1s ease;
}

.slider__item-active-1 {
  transform: translateX(0);
}

.slider__item-active-2 {
  transform: translateX(-100%);
}

.slider__item-active-3 {
  transform: translateX(-200%);
}

.slider__item-active-4 {
  transform: translateX(-300%);
}

.slider__item-active-5 {
  transform: translateX(-300%);
}

.slider__item-active-6 {
  transform: translateX(-300%);
}

.slider__item-active-7 {
  transform: translateX(-300%);
}
